<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

</style>
</head>
<body class = elegant-color-dark>



	<div class = "col white-text">
		<div class="jumbotron text-center elegant-color">
			<div class = "jumbotron elegant-color-dark" >

		<h1 class="h1-responsive white-text">DCU</h1>
		<hr class="my-2 white">
		<br>

	<div>
		<h3 style="width:2040px">SUIT POWER &nbsp;
		<label class="switch float-center"> 
		  <input type="checkbox" (click)="suitPower()"/>
		  <span class="slider round"></span>
		</label>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<label class="switch float-center">
		  <input type="checkbox" (click) ="o2Switch()">
		  <span class="slider round"></span>
		</label>
		&nbsp; OXYGEN</h3>
	</div>
	
	<div>
			<h3>SWITCH 3 &nbsp;
			<label class="switch float-center"> 
			<input type="checkbox"  (click)="switch3()"/>
			<span class="slider round"></span>
			</label>
			&nbsp;&nbsp;&nbsp;&nbsp;
			<label class="switch float-center">
			<input type="checkbox" (click) ="switch4()">
			<span class="slider round"></span>
			</label>
			&nbsp; SWITCH 4</h3>
	</div>

	<div>
			<h3 style="width:2130px">SWITCH 5 &nbsp;
			<label class="switch float-center"> 
			  <input type="checkbox"  (click)="switch5()"/>
			  <span class="slider round"></span>
			</label>
			&nbsp;&nbsp;&nbsp;&nbsp;
			<label class="switch float-center">
			  <input type="checkbox" (click) = "fanSwitch()">
			  <span class="slider round"></span>
			</label>
			&nbsp; FAN SWITCH</h3>

		</div>
		</div>
	</div>
</div>


<!-- <input class="btn" (click)="emuOnOff()"  type="button"
          [ngClass]="status ? 'btn-success' : 'btn-danger'" 
		  [value]="status ? 'unmute' : 'mute'"/> -->
		  
</body>
</html> 