<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class = elegant-color-dark>
	<div class = "col white-text">
		<div class="jumbotron text-center elegant-color">
			<div class = "jumbotron elegant-color-dark" >
		<h1 class="h1-responsive white-text">UIA</h1>
		<hr class="my-2 white">
		<br>

		<h3>EMU
		<label class="switch"> 
		  <input type="checkbox"  (click)="emuOnOff()"/>
		  <span class="slider round"></span>
		</label>
	</h3>
	<br>

	<div>
		<h3>SUPPLY WATER &nbsp;
		<label class="switch"> 
		  <input type="checkbox"  (click)="supplyWater()"/>
		  <span class="slider round"></span>
		</label>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<label class="switch">
		  <input type="checkbox" (click) ="wasteWater()">
		  <span class="slider round"></span>
		</label>
		&nbsp; WASTE WATER
		<br>
	</h3>
	</div>
	
	<div>
			<h3>OXYGEN &nbsp;
			<label class="switch"> 
			<input type="checkbox"  (click)="oxygen()"/>
			<span class="slider round"></span>
			</label>
			&nbsp;&nbsp;&nbsp;&nbsp;
			<label class="switch">
			<input type="checkbox" (click) ="o2Vent()">
			<span class="slider round"></span>
			</label>
			&nbsp; O2 VENT</h3>
	</div>
		</div>
	</div>
</div>	  
</body>
</html> 