<!DOCTYPE html>
<html lang="en">
<body class = elegant-color-dark>
	  <!-- ********************************* Start your project here *******************************************-->
	<nav class="navbar navbar-expand-lg navbar-dark elegant-color-dark">
      <a
        class="navbar-brand" 
        href= "https://microgravityuniversity.jsc.nasa.gov/nasasuits.cfm"><strong>NASA SUITS</strong>
      </a>
      <a class="navbar-brand">
      <img src="https://www.nasa.gov/sites/all/themes/custom/nasatwo/images/nasa-logo.svg" class="img-fluid" alt="placeholder">
      </a>
	</nav>
        <!--Jumbotron-->
    <div class="jumbotron text-center elegant-color">
        <div class="view">
            <img src="https://microgravityuniversity.jsc.nasa.gov/img/NASASUITS-logo.png" class="img-fluid" alt="placeholder">
            <div class="mask flex-center waves-effect waves-light rgba-black-light">
                <h1
                class="d-flex justify-content-center white-text"><strong>NASA S.U.I.T.S. 2019 | <br></strong>
              </h1>
              <h3
              class="white-text mb-8 font-bold">
              Command Central
            </h3>
            </div>
          </div>
  </div>
  

  	<div class="col">
    <div class="jumbotron text-center elegant-color">
        <div class = "jumbotron elegant-color-dark" >
      <h1 class="h1-responsive white-text">Mission Control</h1>
      <hr class="my-2 white">
      <br> 
      <br>
      <button (click)="startSimulation()"  style ="width:8%" class="btn success-color btn-lg">START  </button>
      <button (click)="pauseSimulation()" style ="width:8%"class="btn btn-primary btn-lg" role="button">PAUSE  </button>  
      <button (click)="deployError()" style ="width:8%" class="btn warning-color btn-lg" role="button">ERROR  </button>
      <br>
      <button (click) ="stopSimulation()" style ="width:8%" class="btn btn-danger btn-lg" role="button">STOP   </button>
      <button (click)="resumeSimulation()" style ="width:8%" class="btn success-color-dark btn-lg" role="button">RESUME </button> 
      <button (click)="resolveError()" style ="width:8%" class="btn primary-color-dark btn-lg" role="button">RESOLVE</button> 
      <br><br>

      

      <!-- <div>
      <input type="text" id = "handhold"  value="">
      <script>
          function handHold(){
            var val = prompt('Enter Handhold Value')
            document.getElementById("handhold").innerHTML = val
            console.log(val)
            return val
          }
          </script>
        <button class="btn btn-primary btn-sm" onclick = "handHold()">Submit</button>
      <br>
      </div> -->
      <div *ngFor="let telem of telems">  
          <div class = "jumbotron elegant-color-dark" >
              <h1 class = "text-center white-text">Telemetry Stream</h1>
              <br><br>    
            <table class="table text-left grey-text">
              <thead>
          <tr class = "white-text">
                  <th scope="col">Telemetry</th>
                  <th scope="col">Value</th>
                </tr>
              </thead>
              <tbody> 
                <tr>
                  <td>EVA Time</td>
                  <td>{{telem.timer}}</td>
                </tr>           
                <tr>
                  <td>Primary Oxygen</td>
                   <td>{{telem.ox_primary}}%</td>
                <tr>
                  <td>Secondary Oxygen</td>
                  <td>{{telem.ox_secondary}}%</td>
                <tr>
                  <td>Heart Rate</td>
                  <td>{{telem.heart_bpm}} bpm</td>
                </tr>
                <tr>
                  <td>Sub Pressure</td>
                  <td>{{telem.p_sub}}</td>
                </tr>
                <tr>
                  <td>Sub Temperature</td>
                  <td>{{telem.t_sub}}</td>
                </tr>
                <tr>
                  <td>Fan Tachometer</td>
                  <td>{{telem.v_fan}}</td>
                </tr>
                <tr>
                  <td>Oxygen Pressure</td>
                  <td>{{telem.p_o2}}</td>
                </tr>
                <tr>
                  <td>Oxygen Flowrate</td>
                  <td>{{telem.rate_o2}}</td>
                </tr>
                <tr>
                  <td>Battery Capacity</td>
                  <td>{{telem.battery_out}}%</td>
                </tr>
                <tr>
                  <td>H2O Gas Pressure</td>
                  <td>{{telem.p_h2o_g}}</td>
                </tr>
                <tr>
                  <td>H2O Liquid Pressure</td>
                  <td>{{telem.p_h2o_l}}</td>
                </tr>
                <tr>
                  <td>SOP Pressure</td>
                  <td>{{telem.p_sop}}</td>
                </tr>
                <tr>
                  <td>SOP Flowrate</td>
                  <td>{{telem.rate_sop}}</td>
                </tr>
                <tr>
                  <td>Remaining Battery</td>
                  <td>{{telem.t_battery}}</td>
                </tr>
                <tr>
                  <td>Remaining Water</td>
                  <td>{{telem.t_water}} oz</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
<footer class="page-footer font-small elegant-color">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 ">
    <a href= "https://microgravityuniversity.jsc.nasa.gov/nasasuits.cfm"><strong>NASA SUITS</strong></a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

