<!DOCTYPE html>
<html lang="en">
<body class = elegant-color-dark>
	  <!-- ********************************* Start your project here *******************************************-->
	<nav class="navbar navbar-expand-lg navbar-dark elegant-color-dark">
		<a
        class="navbar-brand"
        href="#"><strong>NASA SUITS</strong></a>
        <ul
        class="navbar-nav nav-flex-icons">
        <li
        class="nav-item">
        <a
        class="nav-link"><i
        class="fa fa-facebook"></i></a>
        </li>
        <li
        class="nav-item">
        <a
        class="nav-link"><i
        class="fa fa-twitter"></i></a>
        </li>
        <li
        class="nav-item"> 
        <a
        class="nav-link"><i
        class="fa fa-instagram"></i></a>
        </li>
        </ul>
	</nav>
        <!--Jumbotron-->
    <div
        class="jumbotron text-center elegant-color-dark">
        <!--Title-->
      <h1
        class="card-title h1-responsive mt-1 white-text"><strong>NASA
         S.U.I.T.S. 2019</strong>
      </h1>
		<!--Subtitle-->
	<h3
		class="white-text mb-8 font-bold">Command Central
	</h3>
        <!--Text-->
      <div
        class="d-flex justify-content-center">
      </div>
	</div>
  	<div class="col">
    <div class="jumbotron text-center special-color-dark">
      <h1 class="h1-responsive white-text">Mission Control</h1>
      <hr class="my-2 white">
      <br> 
      <br>
      <button (click)="startSimulation()"  class="btn btn-success btn-lg">START</button>
      <button (click) ="stopSimulation()" class="btn btn-danger btn-lg" role="button">STOP</button>   
      <br>
      <br>
      <button (click)="pauseSimulation()" class="btn btn-primary btn-lg" role="button">PAUSE</button>  
      <button (click)="resumeSimulation()" class="btn btn-success btn-lg" role="button">RESUME</button>  
      <button (click)="deployError()" class="btn btn-warning btn-lg" role="button">ERROR</button> 
      <br>
        <br><br><br>
     
          <div class = "jumbotron special-color" >
            <h1 class = "text-center white-text">Telemetry Data</h1>
          <div *ngFor="let telem of telems">      
            <table class="table text-left green-text">
              <thead>
          <tr class = "white-text">
                  <th scope="col">Telemetry</th>
                  <th scope="col">Value</th>
                </tr>
              </thead>
              <tbody> 
                <tr>
                  <td>EVA Timer</td>
                  <td>{{telem.timer}}</td>
                </tr>           
                <tr>
                  <td>Primary Oxygen</td>
                   <td>{{telem.ox_primary}}%</td>
                <tr>
                  <td>Secondary Oxygen</td>
                  <td>{{telem.ox_secondary}}%</td>
                <tr>
                  <td>Heart Rate</td>
                  <td>{{telem.heart_bpm}} bpm</td>
                </tr>
                <tr>
                  <td>Sub Pressure</td>
                  <td>{{telem.p_sub}}</td>
                </tr>
                <tr>
                  <td>Sub Temperature</td>
                  <td>{{telem.t_sub}}</td>
                </tr>
                <tr>
                  <td>Fan Tachometer</td>
                  <td>{{telem.v_fan}}</td>
                </tr>
                <tr>
                  <td>Oxygen Pressure</td>
                  <td>{{telem.p_o2}}</td>
                </tr>
                <tr>
                  <td>Oxygen Flowrate</td>
                  <td>{{telem.rate_o2}}</td>
                </tr>
                <tr>
                  <td>Battery Capacity</td>
                  <td>{{telem.battery_out}}%</td>
                </tr>
                <tr>
                  <td>H2O Gas Pressure</td>
                  <td>{{telem.p_h2o_g}}</td>
                </tr>
                <tr>
                  <td>H2O Liquid Pressure</td>
                  <td>{{telem.p_h2o_l}}</td>
                </tr>
                <tr>
                  <td>SOP Pressure</td>
                  <td>{{telem.p_sop}}</td>
                </tr>
                <tr>
                  <td>SOP Flowrate</td>
                  <td>{{telem.rate_sop}}</td>
                </tr>
                <tr>
                  <td>Remaining Battery</td>
                  <td>{{telem.t_battery}}</td>
                </tr>
                <tr>
                  <td>Remaining Water</td>
                  <td>{{telem.t_water}} oz</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

